@model ElibraryManagement.Data.Models.guitar_master_tbl

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>guitar_master_tbl</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.guitar_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guitar_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guitar_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guitar_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guitar_color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guitar_color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guitar_weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guitar_weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guitar_material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guitar_material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.number_of_strings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.number_of_strings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guitar_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guitar_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guitar_img_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guitar_img_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publisher_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publisher_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.publish_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.publish_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.guitar_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.guitar_description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
